#uploader {
    margin-top: 25px;
    padding: 0em;
    position: relative;
    height: 150px;
}

#uploader>.header {
    padding-top: 2em;
    padding-bottom: .5em;
}

#uploader #upload {
    z-index: 5;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}

#zhconvert {
    margin: 5px 0;
    text-align: right;
}

#loader.active {
    margin: 25px auto;
}

#ws:empty {
    display: none
}

#ws * {
    font-family: monospace;
}

#ws:not(:empty) {
    overflow-y: scroll;
    max-height: 150px;
    height: 150px;
    background: rgb(247, 247, 247);
    padding: 10px;
    border-radius: 5px;
    color: rgba(72, 72, 72, 0.75)
}

#done {
    text-align: center;
}