doctype html
html
	head
		title EPUB Taiwanize
		meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="description",content="可愛 Epub 台灣化好朋友，協助您將簡體 EPUB 檔案轉換為繁體")
		meta(charset="UTF-8")
		meta(property="og:type" content="website")
		meta(property="og:site_name" content="吼吼 Epug 好朋友")
		meta(property="og:image" content="/img/open-graph.jpg")
		link(href='//cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css',rel='stylesheet')
		link(href='/css/style.css',rel='stylesheet')
	body
		.ts.attached.heading.slate
			.ts.narrow.container
				span.header      EPUB Taiwanize
				span.description 協助您將簡體 EPUB 檔案轉換為繁體
		.ts.narrow.container
			#uploader.ts.basic.dashed.clickable.slate
				input#upload(type='file')
				i.upload.symbol.icon
				span.header 上傳 Epub 檔案
				span.description 將檔案拖拉至此處或是點擊此處來選取檔案。
			#zhconvert 本程式使用了  
				a(href='https://zhconvert.org/') 繁化姬
				|  的 API 服務
			#loader.ts.centered.inline.loader.text.indeterminate 正在將檔案發給小恐龍！
			pre#ws
			#done(style='display:none')
				a.ts.primary.labeled.icon.button(download="")
					i.download.icon
				p 轉換完畢！


		//a.item(href='//github.com/rexx0520/EPUB_Taiwanize', target='_blank') GitHub
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
		script(src='./js/index.js')
		 	
			
